.Typist {
    display: inline-block;
}

@keyframes flicker {
    0% { opacity: 1; }
    5%  { opacity: 1; }
    6% { opacity: 1; }
    11% { opacity: .4; }
    11.25% { opacity: .6; }
    11.5% { opacity: .4; }
    18% { opacity: 1; }
    18.5% { opacity: .9; }
    22% { opacity: 1; }
    38.5% { opacity: 1; }
    39% { opacity: .8; }
    42% { opacity: 1; }
    60% { opacity: 1; }
    60.5% { opacity: 0.4; }
    62% { opacity: 0.5; }
    63% { opacity: .45; }
    63.25% { opacity: 0.4; }
    65% { opacity: 1; }
    73% { opacity: 1; }
    75% { opacity: .8; }
    79% { opacity: 1; }
    81% { opacity: .4; }
    81.25% { opacity: .6; }
    81.5% { opacity: .4; }
    81% { opacity: .45; }
    81.45% { opacity: .6; }
    81.7% { opacity: .45; }
    100% { opacity: 1; }
}